<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Spack.ClassSeven"/>
      <class name="mpack.SeleniumDemo"/>
      <class name="opack.ClassFive"/>
      <class name="opack.ClassSix"/>
      <class name="tpack.ClassTwo"/>
      <class name="opack.ClassFour"/>
      <class name="tpack.ClassOne"/>
      <class name="Spack.ClassEight"/>
      <class name="tpack.ClassThree"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
